@import '~/styles/mixins.scss';

.sentence {
  @include FlexCenter;
  width: 100%;
  column-gap: 50px;
}

.playerContainer {
  width: 312px;
  height: 176px;
  border-radius: 8px!important;
  overflow: hidden;
  @include FlexCenter;
}

.missingWord {
  background: var(--Sky);
  box-shadow: inset 0px 2px 2px 2px rgba(56, 77, 130, 0.1);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0);
}

.missingWordSolved {
 color: var(--Blue);
}

@include md {
  .sentence {
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  .textContent{
    margin-top: 30px;
  }
}