@import '~/styles/mixins.scss';

.rightBlockWrapper {
  width: 100%;
  height: 100%;
  flex-basis: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--White);
  padding: 48px 0;
  @include xs{
    padding: 25px 25px;
  }
}

@include lg {
  .rightBlockWrapper {
    flex-basis: 100%;
  }
}
