@import 'src/styles/mixins.scss';


.appwordsblock {
  margin-left: 40px;
  display: flex;
}

.gamefield {
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 0;
  margin: 90px 20px 6px 20px;
}
.wordswrapper {
  min-height: 300px;
  min-width: 130px;
  display: flex;
  align-items: center;
  padding: 24px;
  gap: 30px;
  flex-direction: column;
  justify-content: space-around;
  background: var(--White);
  border: 2px solid var(--Sky);
  border-radius: 8px;
  &_hidden {
    visibility: hidden;
  }
  .word {
    @include Body1M;
    text-align: center;
    color: var(--Black);
    &:first-letter {
      text-transform: uppercase;
    }
  }
  .word_valid {
    @include Body1M;
    color: var(--Grey_Blue);
    text-align: center;
    text-decoration: none!important;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.row {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  grid-gap: 8px;
  gap: 8px;
}
.cellwrapper {
  width: 100%;
  height: calc(100vw - 40px);
  max-width: 392px;
  max-height: 392px;
  position: relative;
  display: grid;
  gap: 8px;
  &_animate {
    animation: field-init 400ms cubic-bezier(0.16, 0.79, 0.52, 1.31);
  }
}

.cellsrow {
  display: grid;
  gap: 8px;
}

.cell {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--White);
  border-radius: 8px;
  @include Headline3D;
  color: var(--Black);
  text-transform: uppercase;
  user-select: none;
  box-shadow: var(--Shadow6px);
  transition: all 500ms;
}

.cell[data-state="active"] {
  color: var(--White)!important;
}
.cell[data-state="valid"] {
  color: var(--White)!important;
}
.cell[data-state="number"] {
  background-color: transparent;
}

.divHint{
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  padding-bottom: 24px;
  & svg {
    width: 48px;
    height: 48px;
  }
}


.adaptiveBtn{
  display: none;
}

@include sm {
  
  .divHint{
    padding-right: 50px;
    padding-bottom: 0;
  }
  
  .cellwrapper{
    min-width: 258px;
    min-height: 258px;
    height: calc(100vw - 100px);
    grid-gap: 2px;
    gap: 2px;
  }
  .appwordsblock{
    flex-direction: column;
    margin: 0px 24px 32px 24px;
    max-width: 400px;
    width: 100%;
    min-width: 258px;
  }
  .gameSelect{
    max-height: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    margin: 0px;
  }
  .wrapper{
    height: 100%;
    margin-top: 0;
  }
  .contentWrapper{
    height: 100%;
  }
  .gamefield{
    flex-direction: column-reverse;
    margin: 0;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    height: 82%;
  }
  .wordswrapper{
    @include Body2M;
    flex-direction: row;
    min-height:auto;
    border: 1px solid var(--Sky);
    gap: 5px;
    padding: 16px;
    flex-wrap: wrap;
    .word{
      @include Body2M;
    }
    .word_valid{
      @include Body2M;
    }
  }
  .cell{
    @include Headline2M;
  }
  .cellsrow{
    gap: 2px;
  }
  .row{
    gap: 2px;
  }

  .adaptiveBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 20px;
  }
}


@include md{
  .wordswrapper{
    padding: 16px;
    gap: 16px;
  }
}
