@import '../../../styles/mixins';

.helpBlock {
  @include FlexCenter;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 30%;
  height: 100%;
  text-align: center;
  @include lg {
    flex-basis: 40%;
  }
  @include xs {
    flex-basis: 80%;
  }
}
