@import '~/styles/mixins.scss';

.gameField {
  @include FlexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.word {
  @include Headline1M;
  &:first-letter {
    text-transform: uppercase;
  }
  text-decoration: none;
}

.wordWrong {
  color: var(--Pink);
  text-decoration: underline;
}

.wordRight {
  color: var(--M_Green);
  text-decoration: underline;
}

.wordButton {
  height: 100%;
  margin-bottom: 100px;
  margin-top: 20px;
  @include FlexCenter;
  flex-direction: column;
  justify-content: space-between;
}

.buttonVoiceWord{
  @include FlexCenter;
  flex-direction: column;
  gap: 45px;
}

.buttonMicText{
  @include FlexCenter;
  flex-direction: column;
  gap: 16px;
  &.active{
    display: none;
  }
}

.voiceButton {
  @include FlexCenter;
  width: 46px;
  height: 46px;
  cursor: pointer;
  padding: 0;
  background: none;
  transition: all var(--transition);
  color: var(--L_Grey);
  &.active {
    color: var(--M_Blue);
  }
  &:hover{
    color: var(--M_Blue);
  }
  & svg {
    width: 100%;
    height: 100%;
  }
}

.micButton {
  @include FlexCenter;
  width: 72px;
  height: 72px;
  cursor: pointer;
  padding: 0;
  background: none;
  transition: all var(--transition);
  & svg {
    width: 100%;
    height: 100%;
  }
  &__line1 {
    border-left: 4px solid var(--White);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 24px;
    bottom: 0;
    height: auto;
    width: auto;
    animation-duration: 1s;
    animation-name: pulseline1;
    animation-iteration-count: infinite;
    z-index: 1;
  }
  &__line2 {
    border-left: 4px solid var(--White);
    border-radius: 3px;
    position: absolute;
    top: 0;
    right: 34px;
    bottom: 0;
    height: auto;
    width: auto;
    animation-duration: 1s;
    animation-name: pulseline2;
    animation-iteration-count: infinite;
    z-index: 1;
  }
  &__line3 {
    border-left: 4px solid var(--White);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 44px;
    bottom: 0;
    height: auto;
    width: auto;
    animation-duration: 1s;
    animation-name: pulseline3;
    animation-iteration-count: infinite;
    z-index: 1;
  }
}

@keyframes pulseline1 {
  
  from {
    opacity: 1;
    transform: scaleY(0.2);
  }
  to {
    opacity: 1;
    transform: scaleY(0.4);
  }
}

@keyframes pulseline2 {
  from {
    opacity: 1;
    transform: scaleY(0.1);
  }
  to {
    opacity: 1;
    transform: scaleY(0.3);
  }
}

@keyframes pulseline3 {
  from {
    opacity: 1;
    transform: scaleY(0.2);
  }
  to {
    opacity: 1;
    transform: scaleY(0.5);
  }
}

.textClick{
  font-weight: 400;
  color: var(--Grey) ;
}

.emojiText{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  &.active{
    display: none;
  }
}

.emoji{
  font-size: 32px;
  display: inline;
}

.textEmoji{
  font-weight: 600;
}

.buttonEmoji{
  margin-top: 28px;
}

.textButtonTry{
  margin-top: 10px;
  color:var(--M_Blue);
  cursor: pointer;
}

@include md{
 .gameField{
   margin-top: 35px;
 } 
.textEmoji{
  margin-bottom: 80px;
}
.wordButton{
  margin-bottom: 80px;
}
}