.word {
  display: inline;
  cursor: pointer;
  font-size: inherit;
  transition: all var(--transition);
  padding: 0.1em 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0);

  &:hover {
    border-bottom: 2px solid var(--Blue);
  }

  &.selected {
    border-bottom: 2px solid var(--Blue);
  }

  &.added {
    color: var(--Blue);
  }
}

.idiom {
  color: var(--aquamarine);
}
