.deleteQuestionBlock {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  background: var(--White);
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 1.5px;
    height: 30%;
    top: 50%;
    left: 50%;
    background: var(--Grey);
    transform: translate(-50%, -50%) rotate(45deg);
  }&::after {
     content: '';
     position: absolute;
     width: 1.5px;
     height: 30%;
     top: 50%;
     left: 50%;
     background: var(--Grey);
     transform: translate(-50%, -50%) rotate(135deg);
   }
}

.optionContainer {
  width: 100%;
  display: flex;
  position: relative;
  gap: 24px;
  align-items: flex-end;
}

.textFieldWrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
}