@import '~/styles/mixins.scss';

.container {
  @include FlexCenter;
  margin-top: 0;
  height: 76px;
  width: 100%;
  justify-content: flex-start;
  column-gap: 50px;
}

@include md {
  .container {
    @include FlexCenter;
    margin-top: 0;
    flex-direction: column;
    row-gap: 16px;
    height: auto;
  }
}
