@import '../../styles/mixins.scss';

.button {
  height: 56px!important;
  width: 56px!important;
  border-radius: 28px;
  box-shadow: var(--Shadow4px);
  background: var(--White);
  position: fixed;
  bottom: 52px;
  right: 48px;
  text-align: center;
  @include FlexCenter;
  @include ButtonMobileMedia;
  cursor: pointer;
  z-index: 100;
}

.closedButton {
  @include FlexCenter;
  @extend .button;

  &:hover {
    border: 2px solid var(--Blue);
  }
}

.closeIcon {
  height: 26px;
  width: 26px;
}

.openedButton {
  @extend .button;
  border: 2px solid var(--Blue);
}

.tooltip {
  @include Body2D;
}

.feedbackWindow {
  position: fixed;
  bottom: 120px;
  right: 50px;
  @include FlexCenter;
  justify-content: flex-start;
  flex-direction: column;
  background: var(--White);
  box-shadow: var(--Shadow4px);
  border-radius: 12px;
  padding: 24px;
  width: 380px;
  row-gap: 30px;
  z-index: 110;
}

.title{
  @include Headline4D;
  width: 290px;
}

.textarea {
  outline: none;
  border: 0;
  background: var(--L_Blue)!important;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid #B6C1E6;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  resize: none;
  &::placeholder {
    color: var(--L_Grey);
    @include Body1D;
  };
}

.textareaError {
  @extend .textarea;
  border-bottom: 2px solid var(--M_Pink);
  &::placeholder {
    color: var(--M_Pink);
  };
}

.sendButtonWrapper {
  margin-bottom: 42px;
  @include FlexCenter;
  justify-content: flex-end;
  width: 100%;
  column-gap: 20px;
}

.resultWindowCorrect {
  height: 44px;
  background: var(--L_Green);
  border-radius: 8px;
  @include Body3M;
  color: var(--Green);
  max-width: 240px;
  @include FlexCenter;
  padding-left: 10px;
  padding-right: 5px;
  column-gap: 14px;
}

.resultWindowIncorrect {
  @extend .resultWindowCorrect;
  background: var(--L_Red);
  color: var(--Pink);
}

.resultWindowPending {
  display: none;
}

.isShown {
  display: inherit;
}

@include md {
  .isShown {
    display: none;
  }
}