@import "src/styles/mixins";


.trueFalseBlock {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 4px;
  margin: 20px;
  background: var(--L_Blue);

  .buttonBlock {
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 32px;

    .muiButton {
      box-shadow: 0 2px 4px rgba(92, 119, 242, 0.3);
      border-radius: 8px;
      color: var(--Black);
      height: 100%;
      width: 35%;
    }

    .muiButton:active, :hover, :focus {
      outline: 0;
      outline-offset: 0;
    }
  }
}

.downButtonBlock {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.viewActivityContainer::-webkit-scrollbar {
  width: 0;
  height: 0;
}