@import '~/styles/mixins.scss';

.headerText {
  @include Headline2D;
  color: var(--Black);
  margin-bottom: 40px;

  @include md {
    @include Headline3D;
  }
}
.searchWrapper {
  width: 100%;
}

.toolbar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 30px;
}

.pagination {
  display: flex;
  justify-content: center;
}

.lessonsWrapper {
  overflow-y: scroll;
  height: 430px;
}

@include lg {
  .toolbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
