@import '~/styles/mixins';

.progressWrapper {
  display: flex;
  width: 100%;
  margin: 40px 0 12px;

  .text {
    @include Body3D;
    color: var(--L_Grey);
    width: 320px;
    margin-left: 22px;
    display: flex;
    align-self: flex-end;
  }

  .qwe {
    display: flex;
  }

  .gamesBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 126px;
  }
  .text1 {
    padding-top: 6px;
    @include Body3D;
    color: var(--L_Grey);
    white-space: nowrap;
  }
}