@import 'src/styles/mixins';
.wrapper {
  display: flex;
  width: 100%;
  height: 34px;
  margin-top: 16px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--L_Blue);
  cursor: pointer;
  border-left: 1px solid var(--E_Lang);
  &:nth-child(1) {
    border-left: none;
  }
}
.wordRight {
  & svg {
    font-size: 25px;
    margin: 0 6px;
  }
}
.wordRightWarning {
  & svg {
    color: var(--Pink);
  }
}
.count {
  @include ButtonLinkMedium;
  color: var(--M_Blue);
}
.countWarning {
  color: var(--Pink);
}
